body {
  margin-left: 40px;
  font-family: Inter, sans-serif;
  font-weight: medium;
  background-color: #273549;
}
h1 {
  font-family: Karla, sans-serif;
  font-weight: 800;
  color: white;
  font-size: 40px;
  line-height: 40px;
}
span {
  color: #4ADF86;
}
p {
  color: #D5D4D8;
  font-weight: 400;
  font-size: 28px;
  margin-top: -15px;
  margin-bottom: 20px;
}

.pass-length-container {
  margin-bottom: 20px;
}

#pass-length {
  width: 75px;
  margin-left: 20px;
}

button {
  background-color: #10B981;
  color: white;
  font-size: 16px;
  border: none;
  padding-left: 15px;
  padding-right: 17px;
  padding-top: 9px; padding-bottom: 9px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
label {
  color: white;
}
hr {
	border: 0;
	border-top: 2px solid #2F3E53;
  width: 446px;
  /* height: 0px; */
  /* position: absolute;
  left: 40px; */
  margin-left: 0;
  margin-bottom: 30px;
}
.grid {
  display: grid;
  grid-column: 2;
  grid-template-columns: 211px 211px;
  gap: 30px;
  
}
#password-one, #password-two {
  /* display: inline-block; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3d54;
  color: #55F991;
  font-size: 16px;
  height: 39px;
  width: 211px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

#message-one, #message-two {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    display: none;
}